$logo-straw  : #ed008c;
$light-straw : #EB038A ;
$logo-purple : #fa00fa;
//$orange     : #e4621c;
$orange     : #ff2135;
$blue     :#21a4ff;
$pale-orange: #efa47b;
//$green      : #4a993e; 
$bright-green : #a4ff21 ;
$green      : #62B011 ;
$tint: tint($logo-straw , 35%);
$red        : #FB14F8;
$purple     : #eb21ff;

$yellow     : #d6c460;
$menu-yellow : #FFCC33;
$light-grey : #ddd;
$mid-grey   : #6a7076;
$dark-grey  : #222222;


