* html { font-size: 100%; }

html { font-size: 16px; line-height: 1.25em; }

/*@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);*/
.message-wrapper { width: 550px; }

.message-wrapper .header, .message-wrapper .body { padding: 10px; }

.message-wrapper a { text-decoration: none; }

.message-wrapper .header { background-color: #348eda; color: #000000; height: 100px; }

.message-wrapper .header .logo { float: left; }

.message-wrapper .header .thank-you { float: right; font-size: 25px; font-size: 1.5em; font-weight: bold; }

.message-wrapper .body { border: solid 1px #E9E9E9; padding: 10px; }

.message-wrapper .detail span.order a { color: #009BD4; }

.message-wrapper .detail { color: #b2b2b2; padding-bottom: 15px; font-size: 18px; }

.message-wrapper .detail span { color: #00a0da; }

.message-wrapper .view-order-status { margin-bottom: 30px; }

.message-wrapper .view-order-status a { background-color: #009bd4; width: auto; color: white; font-weight: bold; padding: 10px 30px; border-radius: 50px; }

.message-wrapper .ship-to { float: left; margin-bottom: 30px; }

.message-wrapper .ship-to .ship-to-title, .message-wrapper .ship-method .ship-method-title, .message-wrapper .order-summary-wrapper p.items-title { font-weight: bold; font-size: 20px; color: black; }

.message-wrapper .ship-method .express-delivery, .message-wrapper .ship-method p, .message-wrapper .ship-to .addressfield-container-inline *, .message-wrapper .ship-to .street-block, .message-wrapper .ship-to .country { color: #90847c; font-size: 17px; }

.message-wrapper .shipping-wrapper p { margin-top: 0px; }

.message-wrapper .ship-to .first-name, .message-wrapper .ship-to .last-name, .message-wrapper .ship-to .name-block, .message-wrapper .ship-method .express-delivery { font-weight: bold; }

.message-wrapper .ship-method { float: right; /* LTR */ }

.message-wrapper .shipping-wrapper, .message-wrapper .order-summary-wrapper { clear: both; }

.message-wrapper .order-summary-wrapper .view-commerce-cart-summary table { border: none; border-collapse: collapse; width: 100%; }

.message-wrapper .order-summary-wrapper .view-commerce-cart-summary th { border: none; background: transparent; border-bottom: #AAAAAA solid 1px; text-transform: none; font-weight: bold; text-align: left; color: black; }

.message-wrapper .order-summary-wrapper .view-commerce-cart-summary tr { border: none; background: transparent; padding: 10px; text-align: left; }

.view-commerce-cart-summary .views-table tbody td { padding: 20px 10px; }

.message-wrapper .order-summary-wrapper table.commerce-price-formatted-components { width: auto; float: right; /* LTR */ margin-bottom: 30px; margin-bottom: 1.875em; }

.message-wrapper .order-summary-wrapper table.commerce-price-formatted-components td { text-align: right; /* LTR */ padding: 10px; }

.message-wrapper .question { clear: both; }

.message-wrapper .question a { color: #009BD4; }

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/*! normalize.css v3.0.0 | HTML5 Display Definitions | MIT License | git.io/normalize */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

/*! normalize.css v3.0.0 | Base | MIT License | git.io/normalize */
html { font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; }

/*! normalize.css v3.0.0 | Links | MIT License | git.io/normalize */
a { background: transparent; }

a:active, a:hover { outline: 0; }

/*! normalize.css v3.0.0 | Typography | MIT License | git.io/normalize */
abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

h1 { font-size: 2em; margin: 0.67em 0; }

mark { background: #ff0; color: #000; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/*! normalize.css v3.0.0 | Embedded Content | MIT License | git.io/normalize */
img { border: 0; }

svg:not(:root) { overflow: hidden; }

/*! normalize.css v3.0.0 | Figures | MIT License | git.io/normalize */
figure { margin: 1em 40px; }

hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

/*! normalize.css v3.0.0 | Forms | MIT License | git.io/normalize */
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }

button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

/*! normalize.css v3.0.0 | Tables | MIT License | git.io/normalize */
table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; *behavior: url('../behaviors/box-sizing/boxsizing.php'); }

img, video { max-width: 100%; height: auto; }
