.panel-pane pane-custom pane-1 {
display: inline-block;
padding-bottom: 1.5em;
padding-top:0.2em;
overflow: hidden; 
}


div.panel-pane pane-entity-field pane-node-body  {
     max-width:100%;
     max-height:100%;
     //marging-top:1em;
     //marging-right:1em;
     overflow: hidden;
     padding: 0px ;
 }


div.panel-pane pane-entity-field pane-node-body p, blockquote {
    padding: 1px;
   // marging-top:1em;
  // marging-right:1em;
   overflow: hidden; 
}

.panel-pane pane-entity-field.pane-node-body p {
     max-width:100%;
     max-height:100%;
     padding: 0px;   
     padding-bottom:0.5em;
   //marging-top:1em;
   //marging-right:1em;
   overflow: hidden;
}
