/* line 36, ../../../../../../../../../../home/ubuntu/.rvm/gems/ruby-1.9.3-p551@omega.shopwiz/gems/toolkit-1.3.8/stylesheets/toolkit/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('../../../behaviors/box-sizing/boxsizing.php'); }

/* line 4, ../../../../../../../../../../home/ubuntu/.rvm/gems/ruby-1.9.3-p551@omega.shopwiz/gems/toolkit-1.3.8/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto; }

/* No files to import found in /var/www/shopwiz.net/profiles/commerce_kickstart/themes/shopwiz/sass/variables/**\/* */
/*
 body {
  background: transparent image-url('diagonal.png') left top repeat;
} */
/* line 46, ../../../sass/layouts/wizo/wizo.layout.scss */
.l-constrained {
  width: 100%;
  margin-top: 0.3em;
  margin-left: 0.3em;
  margin-right: 0.4em;
  margin-bottom: -0.250em;
  *zoom: 1;
  font-size: 0.8125em;
  line-height: 1.84615em;
  background-color: #ffffff; }
  /* line 38, ../../../../../../../../../../home/ubuntu/.rvm/gems/ruby-1.9.3-p551@omega.shopwiz/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .l-constrained:after {
    content: "";
    display: table;
    clear: both; }

/* Header */
/* line 63, ../../../sass/layouts/wizo/wizo.layout.scss */
.l-region--header {
  width: 73.68421%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0.3em;
  padding-top: 0.250em; }

/*.l-region--branding {
 @include grid-span(1, 1);
} */
/* line 78, ../../../sass/layouts/wizo/wizo.layout.scss */
.rsvg {
  display: block;
  position: absolute;
  border-style: none;
  margin-top: 10%;
  padding-bottom: 0.6em;
  display: block;
  margin-left: -3px;
  max-width: 39%;
  min-width: 10%;
  padding-bottom: 0.6em; }

/* line 96, ../../../sass/layouts/wizo/wizo.layout.scss */
.home {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzVweCIgaGVpZ2h0PSIzNnB4IiB2aWV3Qm94PSIwIDAgMzE2NC42NTEgMzMzLjY1MSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTQ3MiA5OTJ2NDgwcTAgMjYtMTkgNDV0LTQ1IDE5aC0zODR2LTM4NGgtMjU2djM4NGgtMzg0cS0yNiAwLTQ1LTE5dC0xOS00NXYtNDgwcTAtMSAuNS0zdC41LTNsNTc1LTQ3NCA1NzUgNDc0cTEgMiAxIDZ6bTIyMy02OWwtNjIgNzRxLTggOS0yMSAxMWgtM3EtMTMgMC0yMS03bC02OTItNTc3LTY5MiA1NzdxLTEyIDgtMjQgNy0xMy0yLTIxLTExbC02Mi03NHEtOC0xMC03LTIzLjV0MTEtMjEuNWw3MTktNTk5cTMyLTI2IDc2LTI2dDc2IDI2bDI0NCAyMDR2LTE5NXEwLTE0IDktMjN0MjMtOWgxOTJxMTQgMCAyMyA5dDkgMjN2NDA4bDIxOSAxODJxMTAgOCAxMSAyMS41dC03IDIzLjV6Ii8+PC9zdmc+);
  background-repeat: no-repeat;
  background-position: left center;
  vertical-align: middle;
  height: 42px !important;
  margin-left: 3.5em;
  margin-top: 4em;
  min-width: 6em;
  vertical-align: middle; }

/* line 110, ../../../sass/layouts/wizo/wizo.layout.scss */
.l-branding, .l-branding site-branding {
  width: 21.05263%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  clear: left;
  float: left;
  opacity: 1;
  position: relative;
  width: 68%;
  padding-left: 1%;
  margin-left: 0.2%;
  margin-top: -3.9em !important;
  z-index: 3;
  margin-bottom: -16px; }

/* line 131, ../../../sass/layouts/wizo/wizo.layout.scss */
.l-branding:hover {
  opacity: 0.75;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out; }

/* line 138, ../../../sass/layouts/wizo/wizo.layout.scss */
.panel-pane pane-custom pane-2 {
  position: relative; }

/* line 142, ../../../sass/layouts/wizo/wizo.layout.scss */
.fa {
  display: inline-block;
  font-family: FontAwesome;
  top: 93px;
  display: inline-block;
  float: left;
  margin-top: 1px;
  padding: 1px;
  position: absolute;
  font-size: 1.8em !important;
  left: 36px; }

/* line 156, ../../../sass/layouts/wizo/wizo.layout.scss */
.l-heading, h1, h2 {
  font-size: 0.9375em;
  line-height: 1.6em;
  padding: 2px 0;
  margin: 0.513em 0.2em 0.813em;
  text-align: center !important;
  width: 97%; }

/* NAV */
/* line 167, ../../../sass/layouts/wizo/wizo.layout.scss */
.l-region--navigation {
  width: 47.36842%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: both;
  float: left;
  height: auto;
  padding: 0.5em;
  position: static;
  margin: 0 auto; }

/* Content Area */
/* line 181, ../../../sass/layouts/wizo/wizo.layout.scss */
.l-highlighted-wrapper {
  padding: 16px 0; }

/* line 186, ../../../sass/layouts/wizo/wizo.layout.scss */
.l-region--highlighted {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding: 16px; }

/* line 191, ../../../sass/layouts/wizo/wizo.layout.scss */
.l-main {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  margin-top: 0.525em;
  margin-bottom: 12.8px; }

/* line 199, ../../../sass/layouts/wizo/wizo.layout.scss */
.l-content {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: both;
  padding: 3.2px; }

/* line 206, ../../../sass/layouts/wizo/wizo.layout.scss */
#edit-name, #edit-pass {
  border: 1px solid #ed008c;
  width: 190px; }

/* line 211, ../../../sass/layouts/wizo/wizo.layout.scss */
#edit-mail {
  border: 1px solid #ed008c;
  width: 230px; }

/* Footer */
/* line 218, ../../../sass/layouts/wizo/wizo.layout.scss */
.l-footer-wrapper {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  box-sizing: border-box !important; }

/* line 222, ../../../sass/layouts/wizo/wizo.layout.scss */
.l-region--footer {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: both;
  padding-top: 5.33333px;
  padding-bottom: 5.33333px;
  padding-left: 0.6em;
  box-sizing: border-box !important; }

/* line 232, ../../../sass/layouts/wizo/wizo.layout.scss */
.l-region--footer {
  box-sizing: border-box !important; }

/* line 236, ../../../sass/layouts/wizo/wizo.layout.scss */
.l-region--footer {
  float: none !important;
  box-sizing: border-box !important;
  background-image: url("data:image/gif;base64,R0lGODlhCAAIAIAAAI2aof///yH5BAAAAAAALAAAAAAIAAgAAAIIjI+pywsNQwEAOw==");
  background-repeat: repeat; }

@media (min-width: 31.25em) {
  /* line 246, ../../../sass/layouts/wizo/wizo.layout.scss */
  .l-constrained {
    width: 100%;
    font-size: 0.9375em;
    line-height: 1.6em; }

  /* line 251, ../../../sass/layouts/wizo/wizo.layout.scss */
  .rsvg {
    background-position: 20% 9%;
    border: medium none;
    display: block;
    position: absolute;
    top: 0;
    left: 3px;
    box-shadow: unset !important;
    margin-top: 38%;
    min-width: 82%;
    margin-bottom: 8px;
    max-width: 129%;
    padding-bottom: 0.2em;
    padding-top: 21px; }

  /* line 268, ../../../sass/layouts/wizo/wizo.layout.scss */
  .home {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjVweCIgaGVpZ2h0PSI2NnB4IiB2aWV3Qm94PSIwIDAgMzE2NC42NTEgMzMzLjY1MSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTQ3MiA5OTJ2NDgwcTAgMjYtMTkgNDV0LTQ1IDE5aC0zODR2LTM4NGgtMjU2djM4NGgtMzg0cS0yNiAwLTQ1LTE5dC0xOS00NXYtNDgwcTAtMSAuNS0zdC41LTNsNTc1LTQ3NCA1NzUgNDc0cTEgMiAxIDZ6bTIyMy02OWwtNjIgNzRxLTggOS0yMSAxMWgtM3EtMTMgMC0yMS03bC02OTItNTc3LTY5MiA1NzdxLTEyIDgtMjQgNy0xMy0yLTIxLTExbC02Mi03NHEtOC0xMC03LTIzLjV0MTEtMjEuNWw3MTktNTk5cTMyLTI2IDc2LTI2dDc2IDI2bDI0NCAyMDR2LTE5NXEwLTE0IDktMjN0MjMtOWgxOTJxMTQgMCAyMyA5dDkgMjN2NDA4bDIxOSAxODJxMTAgOCAxMSAyMS41dC03IDIzLjV6Ii8+PC9zdmc+);
    background-repeat: no-repeat;
    background-position: left center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 3.5em;
    height: 53px !important;
    margin-left: 2.25em; }

  /* line 280, ../../../sass/layouts/wizo/wizo.layout.scss */
  .l-branding {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
    display: inline-block;
    position: relative;
    padding-left: 1.5%;
    margin-bottom: 0.75em;
    margin-left: 1.1%;
    max-width: 6.25em;
    margin-top: -4.1em; }

  /* line 292, ../../../sass/layouts/wizo/wizo.layout.scss */
  .panel-pane pane-custom pane-2 {
    position: relative; }

  /* line 296, ../../../sass/layouts/wizo/wizo.layout.scss */
  .fa {
    display: inline-block;
    font-family: FontAwesome;
    top: 110px;
    display: inline-block;
    float: left;
    margin-top: 2px;
    padding: 1px;
    position: absolute;
    font-size: 2.6em !important;
    left: 37px; }

  /* line 312, ../../../sass/layouts/wizo/wizo.layout.scss */
  .l-region--header {
    width: 66.10169%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
    margin-bottom: 0.5em; }

  /* line 316, ../../../sass/layouts/wizo/wizo.layout.scss */
  .l-region--navigation {
    width: 15.25424%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding: 10px 10px 10px;
    box-sizing: border-box; }

  /* line 322, ../../../sass/layouts/wizo/wizo.layout.scss */
  .l-region--highlighted {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin-left: 1em;
    padding: 16px; }

  /* line 328, ../../../sass/layouts/wizo/wizo.layout.scss */
  .l-main {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin-top: 0.625em;
    margin-left: 1em;
    margin-bottom: 16px; }

  /* line 337, ../../../sass/layouts/wizo/wizo.layout.scss */
  .l-content {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin-left: 1em;
    padding: 8px 1em 16px 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 16px;
    padding-bottom: 12px; }

  /* line 346, ../../../sass/layouts/wizo/wizo.layout.scss */
  #edit-name, #edit-pass {
    width: 195px; }

  /* line 349, ../../../sass/layouts/wizo/wizo.layout.scss */
  #edit-mail {
    width: 250px; }

  /* line 353, ../../../sass/layouts/wizo/wizo.layout.scss */
  .l-footer-wrapper {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: both;
    float: none; }

  /* line 359, ../../../sass/layouts/wizo/wizo.layout.scss */
  .l-region--footer {
    padding-left: 0.65em; } }
@media (min-width: 31.25em) and (min-width: 56em) {
  /* line 364, ../../../sass/layouts/wizo/wizo.layout.scss */
  .l-constrained {
    width: 100%;
    font-size: 1.0625em;
    line-height: 1.41176em; }

  /* Header  */
  /* line 371, ../../../sass/layouts/wizo/wizo.layout.scss */
  .l-region--header {
    width: 62.19178%;
    float: left;
    margin-right: -100%;
    margin-left: 18.90411%;
    clear: none;
    margin-bottom: 0.5em; }

  /* line 380, ../../../sass/layouts/wizo/wizo.layout.scss */
  .l-branding {
    width: 18.08219%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    max-width: 8.5em;
    padding-left: 0.8%;
    margin: -2em -17% 0.5em 1em;
    padding-top: 0.625em; }

  /* line 395, ../../../sass/layouts/wizo/wizo.layout.scss */
  .rsvg {
    position: absolute;
    display: block;
    border: medium none;
    box-shadow: unset !important;
    margin-bottom: 4px;
    margin-top: 40%;
    min-width: 130%;
    padding-bottom: 0.5em;
    padding-top: 10px; }

  /* line 409, ../../../sass/layouts/wizo/wizo.layout.scss */
  .home {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjVweCIgaGVpZ2h0PSI2NnB4IiB2aWV3Qm94PSIwIDAgMzE2NC42NTEgMzMzLjY1MSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTQ3MiA5OTJ2NDgwcTAgMjYtMTkgNDV0LTQ1IDE5aC0zODR2LTM4NGgtMjU2djM4NGgtMzg0cS0yNiAwLTQ1LTE5dC0xOS00NXYtNDgwcTAtMSAuNS0zdC41LTNsNTc1LTQ3NCA1NzUgNDc0cTEgMiAxIDZ6bTIyMy02OWwtNjIgNzRxLTggOS0yMSAxMWgtM3EtMTMgMC0yMS03bC02OTItNTc3LTY5MiA1NzdxLTEyIDgtMjQgNy0xMy0yLTIxLTExbC02Mi03NHEtOC0xMC03LTIzLjV0MTEtMjEuNWw3MTktNTk5cTMyLTI2IDc2LTI2dDc2IDI2bDI0NCAyMDR2LTE5NXEwLTE0IDktMjN0MjMtOWgxOTJxMTQgMCAyMyA5dDkgMjN2NDA4bDIxOSAxODJxMTAgOCAxMSAyMS41dC03IDIzLjV6Ii8+PC9zdmc+);
    background-repeat: no-repeat;
    background-position: left center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 68px !important;
    margin-left: 4.1em;
    margin-top: 5em; }

  /* line 421, ../../../sass/layouts/wizo/wizo.layout.scss */
  .panel-pane pane-custom pane-2 {
    position: relative; }

  /* line 425, ../../../sass/layouts/wizo/wizo.layout.scss */
  .fa {
    display: inline-block;
    font-family: FontAwesome;
    top: 151px;
    display: inline-block;
    float: left;
    margin-top: 4px;
    padding: 2px;
    padding-top: 3px;
    position: absolute;
    vertical-align: middle;
    font-size: 2.6em !important;
    left: 65px; }

  /* line 442, ../../../sass/layouts/wizo/wizo.layout.scss */
  .l-region--navigation {
    width: 18.08219%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding: 16px; }

  /* line 448, ../../../sass/layouts/wizo/wizo.layout.scss */
  .l-region--highlighted {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin-left: 4em;
    padding: 16px; }

  /* line 455, ../../../sass/layouts/wizo/wizo.layout.scss */
  .l-main {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin-left: 4em;
    margin-top: 0.5125em;
    margin-bottom: 11.2px; }

  /* line 464, ../../../sass/layouts/wizo/wizo.layout.scss */
  .l-content {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin-left: 4em;
    padding-right: 1.25em;
    padding-left: 1.25em;
    padding-top: 16px;
    padding-bottom: 16px;
    background: #f7f7f7;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfeff), to(#f7f7f7));
    background: -webkit-linear-gradient(top, #fcfeff, #f7f7f7);
    background: -moz-linear-gradient(top, #fcfeff, #f7f7f7);
    background: -ms-linear-gradient(top, #fcfeff, #f7f7f7);
    background: -o-linear-gradient(top, #fcfeff, #f7f7f7); }

  /* line 481, ../../../sass/layouts/wizo/wizo.layout.scss */
  #edit-name, #edit-pass {
    width: 210px; }

  /* line 484, ../../../sass/layouts/wizo/wizo.layout.scss */
  #edit-mail {
    width: 290px; }

  /* line 488, ../../../sass/layouts/wizo/wizo.layout.scss */
  .l-footer-wrapper {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: both;
    float: none; } }
