/* line 36, ../../../../../../../../../../home/ubuntu/.rvm/gems/ruby-1.9.3-p551@omega.shopwiz/gems/toolkit-1.3.8/stylesheets/toolkit/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('../../../behaviors/box-sizing/boxsizing.php'); }

/* line 4, ../../../../../../../../../../home/ubuntu/.rvm/gems/ruby-1.9.3-p551@omega.shopwiz/gems/toolkit-1.3.8/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto; }

/* No files to import found in /var/www/shopwiz.net/profiles/commerce_kickstart/themes/shopwiz/sass/variables/**\/* */
/*
 body {
  background: transparent image-url('diagonal.png') left top repeat;
} */
/* line 42, ../../../sass/layouts/wiz/wiz.layout.scss */
*, *:after, *:before {
  box-sizing: content-box; }

/* line 46, ../../../sass/layouts/wiz/wiz.layout.scss */
.l-constrained, .l-region--highlighted, .l-region--footer {
  width: 100%;
  margin-top: 0.1em;
  margin-left: 0.3em;
  margin-right: 0.3em;
  margin-bottom: -0.250em;
  *zoom: 1;
  font-size: 0.8125em;
  line-height: 1.84615em;
  background-color: #ffffff; }
  /* line 38, ../../../../../../../../../../home/ubuntu/.rvm/gems/ruby-1.9.3-p551@omega.shopwiz/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .l-constrained:after, .l-region--highlighted:after, .l-region--footer:after {
    content: "";
    display: table;
    clear: both; }

/* NAV */
/* line 62, ../../../sass/layouts/wiz/wiz.layout.scss */
.l-region--navigation {
  width: 47.36842%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  clear: both;
  float: left;
  height: auto;
  padding: 0.5em;
  position: static;
  margin: 0 auto; }

/* Header */
/* line 73, ../../../sass/layouts/wiz/wiz.layout.scss */
.l-region--header {
  width: 73.68421%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0.3em;
  padding-top: 0.250em; }

/*.l-region--branding {
 @include grid-span(1, 1);
} */
/* line 88, ../../../sass/layouts/wiz/wiz.layout.scss */
.rsvg {
  background: transparent url("https://shopwiz.net/profiles/commerce_kickstart/themes/shopwiz/shopwiz-new-logo-smdp4.svg") no-repeat scroll 10% 14%/contain;
  display: block;
  border-style: none;
  margin-left: -3px;
  margin-top: 25px;
  min-width: 14%;
  padding-bottom: 0.6em;
  padding-top: 0.3em; }

/* line 107, ../../../sass/layouts/wiz/wiz.layout.scss */
.l-branding, .l-branding site-branding {
  width: 21.05263%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  clear: left;
  float: left;
  position: relative;
  width: 68%;
  min-width: 34px;
  padding-left: 1%;
  margin-left: 0.2%;
  margin-top: -3.9em !important;
  z-index: 3;
  box-sizing: border-box;
  margin-bottom: -16px; }

  /* .l-branding:hover {
   transform: scale(1, 1.05);
   transition: all 0.1s ease-out 0s;
} */
/* line 129, ../../../sass/layouts/wiz/wiz.layout.scss */
.l-heading, h1, h2 {
  font-size: 0.9375em;
  line-height: 1.6em;
  padding: 2px 0;
  margin: 0.513em 0.2em 0.813em;
  box-sizing: border-box;
  text-align: center !important;
  width: 97%; }

/* line 138, ../../../sass/layouts/wiz/wiz.layout.scss */
.l-region--navigation {
  padding: 16px 0.5em;
  padding: 4px;
  box-sizing: border-box; }

/* Content Area */
/* line 148, ../../../sass/layouts/wiz/wiz.layout.scss */
.l-highlighted-wrapper {
  padding: 16px 0; }

/* line 158, ../../../sass/layouts/wiz/wiz.layout.scss */
.l-main {
  margin-top: 0.2125em;
  margin-bottom: 11.2px; }

/* line 165, ../../../sass/layouts/wiz/wiz.layout.scss */
.l-content {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: both;
  padding: 3.2px; }

/* line 172, ../../../sass/layouts/wiz/wiz.layout.scss */
#edit-name, #edit-pass {
  border: 1px solid #ed008c;
  width: 190px; }

/* line 177, ../../../sass/layouts/wiz/wiz.layout.scss */
#edit-mail {
  border: 1px solid #ed008c;
  width: 230px; }

/* line 182, ../../../sass/layouts/wiz/wiz.layout.scss */
.l-region--sidebar-second {
  padding: 16px 1em;
  margin-right: 0.9%; }

/* Footer */
/* line 189, ../../../sass/layouts/wiz/wiz.layout.scss */
.l-footer-wrapper {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  box-sizing: border-box !important; }

/* line 193, ../../../sass/layouts/wiz/wiz.layout.scss */
.l-region--footer {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: both;
  padding-top: 5.33333px;
  padding-bottom: 5.33333px;
  padding-left: 0.6em;
  box-sizing: border-box !important; }

/* line 203, ../../../sass/layouts/wiz/wiz.layout.scss */
.l-region--footer {
  box-sizing: border-box !important; }

/* line 208, ../../../sass/layouts/wiz/wiz.layout.scss */
.l-region--footer {
  float: none !important;
  box-sizing: border-box !important;
  background-image: url("data:image/gif;base64,R0lGODlhCAAIAIAAAI2aof///yH5BAAAAAAALAAAAAAIAAgAAAIIjI+pywsNQwEAOw==");
  background-repeat: repeat; }

@media (min-width: 31.25em) {
  /* line 218, ../../../sass/layouts/wiz/wiz.layout.scss */
  .l-constrained, .l-region--highlighted, .l-region--footer {
    width: 100%;
    font-size: 0.9375em;
    line-height: 1.6em; }

  /* line 223, ../../../sass/layouts/wiz/wiz.layout.scss */
  .rsvg {
    background: transparent url("https://shopwiz.net/profiles/commerce_kickstart/themes/shopwiz/shopwiz-new-logo-smdp4.svg") no-repeat scroll 9% 47%/contain;
    border: medium none;
    box-shadow: unset !important;
    margin-bottom: 8px;
    margin-top: 38%;
    min-width: 117%;
    padding-bottom: 0.9em;
    padding-top: 18px;
    position: absolute; }

  /* line 242, ../../../sass/layouts/wiz/wiz.layout.scss */
  .l-branding {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
    padding-left: 1.5%;
    margin-bottom: 0.75em;
    margin-left: 1.1%;
    max-width: 6em;
    margin-top: -4.1em;
    box-sizing: border-box; }

  /* line 252, ../../../sass/layouts/wiz/wiz.layout.scss */
  .l-region--header {
    width: 66.10169%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
    margin-bottom: 0; }

  /* line 256, ../../../sass/layouts/wiz/wiz.layout.scss */
  .l-region--navigation {
    width: 15.25424%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding: 10px 10px 10px;
    box-sizing: border-box; }

  /* line 262, ../../../sass/layouts/wiz/wiz.layout.scss */
  .l-content {
    width: 74.57627%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
    padding-bottom: 12px; }

  /* line 270, ../../../sass/layouts/wiz/wiz.layout.scss */
  #edit-name, #edit-pass {
    width: 195px; }

  /* line 273, ../../../sass/layouts/wiz/wiz.layout.scss */
  #edit-mail {
    width: 250px; }

  /* line 277, ../../../sass/layouts/wiz/wiz.layout.scss */
  .l-region--sidebar-second {
    width: 23.72881%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: right;
    padding: 24px 0.1em; }

  /* line 288, ../../../sass/layouts/wiz/wiz.layout.scss */
  .l-footer-wrapper {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: both;
    float: none; }

  /* line 294, ../../../sass/layouts/wiz/wiz.layout.scss */
  .l-region--footer {
    padding-left: 0.65em; } }
@media (min-width: 31.25em) and (min-width: 56em) {
  /* line 299, ../../../sass/layouts/wiz/wiz.layout.scss */
  .l-constrained, .l-region--highlighted, .l-region--footer {
    width: 100%;
    font-size: 1.0625em;
    line-height: 1.41176em; }

  /* Header  */
  /* line 306, ../../../sass/layouts/wiz/wiz.layout.scss */
  .l-region--header {
    width: 62.19178%;
    float: left;
    margin-right: -100%;
    margin-left: 18.90411%;
    clear: none;
    margin-bottom: 0px;
    padding-top: 0.5em; }

  /* line 314, ../../../sass/layouts/wiz/wiz.layout.scss */
  .l-branding {
    width: 18.08219%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
    max-width: 8.5em;
    padding-left: 0.8%;
    margin: -3em -27% 0.5em 1em;
    box-sizing: border-box;
    padding-top: 0.625em; }

  /* line 325, ../../../sass/layouts/wiz/wiz.layout.scss */
  .l-region--navigation {
    width: 18.08219%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding: 16px; }

  /* line 332, ../../../sass/layouts/wiz/wiz.layout.scss */
  .l-content {
    width: 74.79452%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
    padding: 7px 36px 7px 28px;
    background: #f7f7f7;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfeff), to(#f7f7f7));
    background: -webkit-linear-gradient(top, #fcfeff, #f7f7f7);
    background: -moz-linear-gradient(top, #fcfeff, #f7f7f7);
    background: -ms-linear-gradient(top, #fcfeff, #f7f7f7);
    background: -o-linear-gradient(top, #fcfeff, #f7f7f7); }

  /* line 348, ../../../sass/layouts/wiz/wiz.layout.scss */
  #edit-name, #edit-pass {
    width: 210px; }

  /* line 351, ../../../sass/layouts/wiz/wiz.layout.scss */
  #edit-mail {
    width: 290px; }

  /* line 356, ../../../sass/layouts/wiz/wiz.layout.scss */
  .l-region--sidebar-second {
    width: 24.38356%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin-right: -3.975em;
    clear: right;
    padding: 26px 26px 19px 12px; }

  /* line 367, ../../../sass/layouts/wiz/wiz.layout.scss */
  .l-footer-wrapper {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: both;
    float: none; } }
